<p-toast></p-toast>
<div class="mb-1 header">
  <span class="title-font">Novo álbum</span>
  <button
    pButton
    icon="pi pi-arrow"
    class="p-button-secondary"
    (click)="goToInside('/admin/player')"
  >
    <i class="material-icons left">arrow_back</i>Voltar
  </button>
</div>
<hr class="mb-1" />
<div class="mt-4">
  <div class="row mb-2 pt-2">
    <div class="col-6">
      <span class="p-float-label">
        <input
          pInputText
          id="nameAlbum"
          [(ngModel)]="album.name"
          class="w-100"
        />
        <label htmlFor="nameAlbum">Nome</label>
      </span>
    </div>
    <div class="col-6">
      <span class="p-float-label">
        <input
          pInputText
          id="ownerAlbum"
          [(ngModel)]="album.owner"
          class="w-100"
        />
        <label htmlFor="ownerAlbum">Autor</label>
      </span>
    </div>
  </div>
  <div class="row mb-2 pt-4">
    <div class="col-12">
      <span class="p-float-label">
        <input
          pInputText
          id="linkAlbum"
          [(ngModel)]="album.link"
          class="w-100"
        />
        <label htmlFor="linkAlbum">Link Download</label>
      </span>
    </div>
  </div>
  <div class="row pt-4">
    <span class="sub-title-font">Músicas</span>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let music of album.musics; let i = index">
      <div class="dflex">
        <span>Música #{{ i + 1 }}</span>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="ms-2 p-button-rounded p-button-danger p-button-text"
          (click)="this.removeMusic(i)"
        ></button>
      </div>
      <div class="col-12 mb-1 pt-3">
        <span class="p-float-label">
          <input
            pInputText
            id="title{{ i }}"
            [(ngModel)]="music.title"
            class="w-100"
          />
          <label htmlFor="title{{ i }}">Nome da música</label>
        </span>
      </div>
      <div class="col-12 mb-1 pt-4">
        <span class="p-float-label">
          <input
            pInputText
            id="artist{{ i }}"
            [(ngModel)]="music.artist"
            class="w-100"
          />
          <label htmlFor="artist{{ i }}">Nome do artista</label>
        </span>
      </div>
      <div class="col-12 mb-1 pt-2">
        <label for="">Link Capa da Música</label>
        <app-upload-files
          (onDownloadUrlEmitter)="setFileCoverUrl($event, i)"
        ></app-upload-files>
      </div>
      <div class="col-12">
        <label for="">Link da Música</label>
        <app-upload-files
          (onDownloadUrlEmitter)="setFileMusicUrl($event, i)"
        ></app-upload-files>
      </div>
      <hr />
    </div>
    <div
      class="mt-3 mb-3"
      style="display: flex; justify-content: space-between"
    >
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-secondary"
        (click)="this.addMusic()"
      ></button>
      <button
        pButton
        icon="pi pi-check"
        class="p-button-success"
        label="Criar"
        (click)="onSubmit()"
      ></button>
    </div>
  </div>
</div>
