<div class="container pt-default">
  <div
    *ngIf="
      coursesConcafras.length <= 0 &&
      coursesEfas.length <= 0 &&
      coursesNfed.length <= 0 &&
      coursesNfofiq.length <= 0
    "
  >
    <h1 class="display-3">Sem cursos cadastrados ainda.</h1>
  </div>
  <div class="mb-5" *ngIf="coursesConcafras.length > 0">
    <h1 class="display-3">CONCAFRAS</h1>
    <div class="d-flex gap-4 flex-wrap">
      <ng-container *ngFor="let course of coursesConcafras">
        <p-card header="{{ course.name }}" [style]="{ width: '360px' }">
          <p>
            {{ course.description }}
          </p>
          <small>{{ course.category.subcategory.name }}</small>
          <ng-template pTemplate="footer">
            <div class="row container" *ngFor="let archive of course.archives">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-download"
                label="{{ archive.name }}"
                class="p-button-raised p-button-success m-2"
                (click)="downloadArchive(archive.url)"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>
  <div class="mb-5" *ngIf="coursesEfas.length > 0">
    <hr />
    <h1 class="display-3">Encontro Fraterno Auta de Souza</h1>
    <div class="d-flex gap-4 flex-wrap">
      <ng-container *ngFor="let course of coursesEfas">
        <p-card header="{{ course.name }}" [style]="{ width: '360px' }">
          <p>
            {{ course.description }}
          </p>
          <small>{{ course.category.subcategory.name }}</small>
          <ng-template pTemplate="footer">
            <div class="row container" *ngFor="let archive of course.archives">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-download"
                label="{{ archive.name }}"
                class="p-button-raised p-button-success m-2"
                (click)="downloadArchive(archive.url)"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>
  <div class="mb-5" *ngIf="coursesNfed.length > 0">
    <hr />
    <h1 class="display-3">Núcleo de Formação - Teórico</h1>
    <div class="d-flex gap-4 flex-wrap">
      <ng-container *ngFor="let course of coursesNfed">
        <p-card header="{{ course.name }}" [style]="{ width: '360px' }">
          <p>
            {{ course.description }}
          </p>
          <small>{{ course.category.subcategory.name }}</small>
          <ng-template pTemplate="footer">
            <div class="row container" *ngFor="let archive of course.archives">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-download"
                label="{{ archive.name }}"
                class="p-button-raised p-button-success m-2"
                (click)="downloadArchive(archive.url)"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>
  <div class="mb-5" *ngIf="coursesNfofiq.length > 0">
    <hr />
    <h1 class="display-3">Núcleo de Formação - Oficinas</h1>
    <div class="d-flex gap-4 flex-wrap">
      <ng-container *ngFor="let course of coursesNfofiq">
        <p-card header="{{ course.name }}" [style]="{ width: '360px' }">
          <p>
            {{ course.description }}
          </p>
          <small>{{ course.category.subcategory.name }}</small>
          <ng-template pTemplate="footer">
            <div class="row container" *ngFor="let archive of course.archives">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-download"
                label="{{ archive.name }}"
                class="p-button-raised p-button-success m-2"
                (click)="downloadArchive(archive.url)"
              ></button>
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>
</div>

<!-- Spinner -->
<ngx-spinner type="ball-scale-multiple">
  <span class="white-font">Carregando...</span>
</ngx-spinner>
